.player__songs_active {
    margin-top: 24px;
    grid-template-columns: 32px 1fr 147px 24px;
    grid-template-areas: 'play info switch more'
                          'play timeline switch more';
}

@media screen and (max-width: 436px) {
  .player__songs_active {
    grid-template-columns: 32px 1fr 147px 24px;
    grid-template-areas: 'play info more'
                         'play timeline more'
                         '. switch .';
  }
}
