.player__play-button {
    grid-area: play;
    width: 32px;
    height: 28px;
    align-self: flex-start;
    transition: opacity .2s ease-in;
}

.player__play-button:hover {
    cursor: pointer;
    opacity: .7;
}

@media screen and (max-width: 436px) {
  .player__play-button {
    width: 18px;
    height: 14px;
  }
}
