.section__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 40px;
}

.section__text:last-of-type {
  margin-top: 15px;
  margin-bottom: 90px;
}
