@import url('./__list/songs__list.css');

.songs {
    width: 92%;
    overflow-y: scroll;
    max-height: 110px;
    transform: scaleY(0);
    grid-template-columns: 98% 2%;
    margin: 0 auto;
}

.songs::-webkit-scrollbar {
    width: 3px;
}

.songs::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(255, 255, 255, .3);
}

.songs::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(255, 255, 255, .1);
}

.songs-animation-enter-active {
    animation: test .3s forwards;
}

.songs-animation-enter-done {
    margin: 35px auto 40px;
    transform: scaleY(1);
}

.songs-animation-exit-active {
    animation: test .3s reverse;
}

.songs-animation-exit-done {
    height: 0;
}

@keyframes test {
    0% {
        opacity: 0;
        margin-top: 0;
        margin-bottom: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        margin-top: 35px;
        margin-bottom: 40px;
        transform: scaleY(1);
    }
}

@media screen and (max-width: 436px) {
  .songs {
    width: 75%;
  }
}
