.header__link {
    padding: 7px 18px;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: 10px;
    color: #FFFFFF;
    text-decoration: none;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    transition: opacity .2s ease-in;
}

.header__link:first-of-type {
    margin-top: 5px;
}

.header__link:hover {
    opacity: .7;
}

@media screen and (max-width: 436px) {
  .header__link {
    margin-top: 6px;
    font-size: 12px;
    line-height: 15px;
    padding: 6px 10px;
  }

  .header__link:first-of-type {
    margin-top: 6px;
}
}
