.header__link {
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: 10px;
    color: #FFFFFF;
    text-decoration: none;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    transition: opacity .2s ease-in;
}

.header__link:first-of-type {
    margin-top: 0;
}

.header__link:hover {
    opacity: .7;
}
