@import url('./__item/section__item.css');
@import url('./__list/section__list.css');
@import url('./__text/section__text.css');
@import url('./__title/section__title.css');
@import url('./_type/section_type_form.css');

.section {
  max-width: 760px;
  display: flex;
  flex-direction: column;
}
