.form__poems {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  margin-bottom: 35px;
  padding: 19px 24px;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  resize: none;
  outline: none;
}
