.player__song-title {
    margin: 0 10px;
    width: 100%;
    color: #ffffff;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    white-space: nowrap;
    overflow: hidden;
    align-self: flex-start;
}
