.footer__content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
}

.footer__content:nth-of-type(2) {
    justify-self: flex-end;
}

@media screen and (max-width: 1024px) {
  .footer__content {
    font-size: 15px;
  }
}

@media screen and (max-width: 426px) {
  .footer__content,
  .footer__content:nth-of-type(2) {
    justify-self: center;
    font-size: 12px;
  }
}


