.form__offer-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border: 2px solid #000000;
  border-radius: 50%;
  transition: opacity .2s ease-in;
}

.form__offer-label:hover {
  opacity: .6;
  cursor: pointer;
}
