.page__info {
  width: calc(100% - 20px);
  max-width: 1260px;
  min-width: 310px;
  margin: 20px auto 0;
  padding: 110px 50px;
  background: #fff;
  border-radius: 10px;

  box-sizing: border-box;

  display: grid;
  grid-template-columns: 70%;
}

@media screen and (max-width: 1024px) {
  .page__info {
    padding-top: 100px;
    padding-bottom: 100px;
    grid-template-columns: 67%;
  }
}

@media screen and (max-width: 768px) {
  .page__info {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 426px) {
  .page__info {
    width: 96%;
    padding: 80px 20px;
  }
}
