.page__info {
  width: calc(100% - 22px);
  max-width: 1260px;
  min-width: 310px;
  margin: 20px auto 0;
  padding: 110px 50px;
  background: #fff;
  border-radius: 10px;

  box-sizing: border-box;

  display: grid;
  grid-template-columns: 70%;
}
