.player {
    font-family: 'Inter', 'Arial', sans-serif;

    width: 100%;
    display: grid;
    margin-top: 180px;
    grid-column-gap: 20px;
    grid-row-gap: 12px;
    grid-template-columns: 1fr 1146px 1fr;
    transition: margin-top .2s ease-in-out;
    grid-template-areas: 'play info more'
                          'play timeline more';
}

.player__songs_active {
    margin-top: 40px;
    grid-template-columns: 1fr 976px 1fr 1fr;
    grid-template-areas: 'play info switch more'
                          'play timeline switch more';
}

.player__switch-button {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    grid-area: switch;
    width: 147px;
    height: 40px;
    background: none;
    outline: none;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    animation: buttonLoad .3s forwards linear;
    transition: opacity .2s ease-in;
}

.player__switch-button:hover {
    cursor: pointer;
    opacity: .7;
}

.player__play-button {
    grid-area: play;
    width: 32px;
    height: 28px;
    align-self: flex-start;
    transition: opacity .2s ease-in;
}

.player__play-button:hover {
    cursor: pointer;
    opacity: .7;
}

.player__timeline {
    grid-area: timeline;
    width: 100%;
    height: 3px;background-color: #FFFFFF;
}

.player__more-button {
    grid-area: more;
    transition: opacity .2s ease-in;
}

.player__more-button:hover {
    cursor: pointer;
    opacity: .7;
}

.player__info {
    grid-area: info;
    display: flex;
    justify-content: space-between;
}

.player__song-title {
    margin: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.player__time {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

@keyframes buttonLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
