.text__image {
  width: 720px;
}

@media screen and (max-width: 1024px) {
  .text__image {
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .text__image {
    width: 81%;
  }
}

@media screen and (max-width: 426px) {
  .text__image {
    width: 270px;
  }
}
