@import url('./__info/player__info.css');
@import url('./__more-button/player__more-button.css');
@import url('./__play-button/player__play-button.css');
@import url('./__song-title/player__song-title.css');
@import url('./__time/player__time.css');
@import url('./__timeline/player__timeline.css');
@import url('./__song-title/player__song-title.css');
@import url('./__switch-button/player__switch-button.css');

.player {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  display: grid;
  margin-top: 210px;
  grid-column-gap: 20px;
  grid-row-gap: 12px;
  grid-template-columns: 20px 1fr 24px;
  align-items: center;
  transition: margin-top .2s ease-in-out;
  grid-template-areas: 'play info more'
                        '. timeline .';
}

@media screen and (max-width: 1024px) {
    .player {
        width: 100%;
        display: grid;
        margin-top: 200px;
        grid-column-gap: 18px;
        grid-row-gap: 11px;
        grid-template-columns: 32px 1fr 24px;
        align-items: center;
        transition: margin-top .2s ease-in-out;
        grid-template-areas: 'play info more'
                          'play timeline more';
    }
}

.player_active {
    margin-top: 35px;
}

@media screen and (max-width: 436px) {
  .player {
    margin-top: 182px;
    grid-template-columns: 18px 1fr 24px;
    grid-row-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .player {
    margin-top: 353px;
  }
}

@media screen and (max-width: 426px) {
  .player {
    margin-top: 95px;
    grid-template-columns: 16px 1fr 16px;
    grid-column-gap: 7px;
    grid-row-gap: 9px;
    padding-left: 0;
    padding-right: 0;
  }
}
