@import url('./__info/player__info.css');
@import url('./__more-button/player__more-button.css');
@import url('./__play-button/player__play-button.css');
@import url('./__song-title/player__song-title.css');
@import url('./__time/player__time.css');
@import url('./__timeline/player__timeline.css');
@import url('./__song-title/player__song-title.css');
@import url('./__switch-button/player__switch-button.css');
@import url('./__song-title/_active/player__song-title_active.css');
@import url('./__song-title/_disactive/player__song-title_disactive.css');
@import url('./__song-cover/player__song-cover.css');
@import url('./__clip-link/player__clip-link.css');
@import url('./__timeline-bar/player__timeline-bar.css');
@import url('./__buttons-wrapper/player__buttons-wrapper.css');

.player {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 25px;
  display: grid;
  /* margin-top: 210px; */
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: 20px 1fr 24px;
  align-items: center;
  transition: margin-top .2s ease-in-out;
  grid-template-areas: 'play info more'
                        '. timeline .'
                        '. songs .';
}

@media screen and (max-width: 1024px) {
  .player {
    /* margin-top: 182px; */
    grid-template-columns: 18px 1fr 24px;
    grid-row-gap: 8px;
  }
}

/* @media screen and (max-width: 768px) {
  .player {
    margin-top: 353px;
  }
} */

@media screen and (max-width: 426px) {
  .player {
    /* margin-top: 249px; */
    grid-template-columns: 16px 1fr 16px;
    grid-column-gap: 11px;
    grid-row-gap: 9px;
    padding: 0 14px;
  }
}
