@import url('./__title/song__title.css');
@import url('./__text/song__text.css');
@import url('./__string/song__string.css');

.song {
  margin-top: 15px;
}

.song:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 426px) {
  .song {
    margin-top: 10px;
  }
}
