.song__title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 436px) {
  .song__title {
    font-size: 14px;
    line-height: 19px;
  }
}
