.song__title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
}

.song__title:hover {
  font-style: italic;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .song__title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 500px) {
  .song__title {
    font-size: 12px;
    line-height: 19px;
  }
}
