@import url('./__image/text__image.css');

.text {
    width: 100%;
    margin-top: 28px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

@media screen and (max-width: 436px) {
  .text {
    margin-top: 92px;
    justify-content: center;
  }
}
