@import url('./__image/text__image.css');

.text {
    margin-top: 98px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
  .text {
    margin-top: 75px;
  }
}

@media screen and (max-width: 768px) {
  .text {
    margin-top: 244px;
  }
}

@media screen and (max-width: 426px) {
  .text {
    margin-top: 95px;
  }
}
