.page__main {
  z-index: 0;
  position: relative;
  box-sizing: border-box;
  padding: 0 15px;
  display: grid;
  width: 100%;
}

.blur {
  filter: blur(4px);
}

@media screen and (max-width: 500px) {
  .page__main {
    padding: 0 13px;
  }
}


