@import url(./__container/form__container.css);
@import url(./__offer/__offer.css);
@import url(./__offer-container/form__offer-container.css);
@import url(./__offer-text/form__offer-text.css);
@import url(./__input/form__input.css);
@import url(./__poems/form__poems.css);
@import url(./__submit/form__submit.css);
@import url(./__offer-link/form__offer-link.css);
@import url(./__offer-label/form__offer-label.css);
@import url(./__offer/_active/form__offer_active.css);
@import url(./__input-error/form__input-error.css);
@import url(./__input-error/_active/form__input-error_active.css);
@import url(./__submit/_disabled/form__submit_disabled.css);
@import url(./__input/_error/form__input_error.css);

.form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 60px;
  padding: 0;
  font-family: Inter, Helvetica, Arial, sans-serif;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .form {
    width: auto;
  }
}

@media screen and (max-width: 426px) {
  .form {
    margin-top: 40px;
  }
}
